<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
   
    <!-- Section: Text -->
    <section class="mb-4">

      <p>
        Publier un travail est simple et gratuit. Remplissez simplement un titre, une description et un budget et des
        offres compétitives arriveront en quelques minutes.
      </p>
      <img src="../assets/nav2.gif" alt="" height="200" class="img-fot">
    </section>


  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Projet Angular (freelance)
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->