<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1 class="display-2">Trouvez le projet freelance le plus excitant</h1><br><br>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="row" >
                    <div class="col-xl-8" >





                        <div class="row g-3 align-items-center" >
                                                       <div class="col-auto">
                                <select class="form-select form-select-lg me-5 " aria-label="Default select example" style="width:100%;">
                                    <option value="">Angular</option>
                                    <option value="">PHP</option>
                                    <option value="">Symfony</option>
                                    <option value="">world-press</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-info btn-lg  my-2 my-sm-0" type="submit" >Trouver un
                                    projet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section help-->

<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row-div">
            <div class="col-lg-12">
                <div class="section-tittle-help text-center">
                    <h1>Avez-vous encore besoin de faire réaliser quelque chose ?</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center border-bottom">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services-help text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap-help">
                        <img class="fit-picture-help" src="../assets/icon1.PNG" align="left">
                        <h3 class="text-help-2" align="left">Publier un emploi</h3>
                        <span class="span">Publier un travail est simple et gratuit. Remplissez simplement un titre, une
                            description et un budget et des offres compétitives arriveront en quelques minutes.</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services-help text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap-help">
                        <img class="fit-picture-help-2" src="../assets/icon2.PNG" align="left">
                        <h3 class="text-help" align="left">Choisir des freelances</h3>
                        <span>Aucun travail n'est trop important. Nous avons des freelances pour des travaux de toute
                            taille ou budget, dans plus de 1800 catégories. Aucun travail n'est trop complexe. Nous
                            pouvons le faire réaliser !</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services-help text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap-help">
                        <img class="fit-picture-help" src="../assets/icon3.PNG" align="left">
                        <h3 class="text-help" align="left">Payer en toute sécurité</h3>
                        <span>Ne payez le travail que lorsqu'il a été complété et que vous êtes satisfait à 100 % de la
                            qualité en utilisant notre système de paiement par étape.</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services-help text-center mb-30">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="services-cap-help">
                        <img class="fit-picture-help" src="../assets/icon4.PNG" align="left">
                        <h3 class="text-help" align="left">Nous sommes ici pour aider</h3>
                        <span>Notre équipe talentueuse de recruteurs peut vous aider à trouver le meilleur freelance
                            pour le travail et nos copilotes techniques peuvent même gérer le projet pour vous.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section help 2-->

    <div class="our-services section-pad-t30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row-div">
                <div class="col-lg-12">
                    <div class="section-tittle-help text-center">
                        <h1>Qu'est-ce qui est génial avec Freelancer-project ?</h1>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center border-bottom">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <img class="fit-picture-help" src="../assets/icon5.PNG" align="left">
                            <h3 class="text-help" align="left">Parcourir les portfolios</h3>
                            <span class="span">Trouvez des professionnels à qui vous pouvez faire confiance en
                                parcourant des exemples de leurs travaux antérieurs et en lisant leurs commentaires sur
                                leur profil.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <img class="fit-picture-help-2" src="../assets/icon6.PNG" align="left">
                            <h3 class="text-help" align="left">Choisir des freelances</h3>
                            <span>Aucun travail n'est trop important. Nous avons des freelances pour des travaux de
                                toute taille ou budget, dans plus de 1800 catégories. Aucun travail n'est trop complexe.
                                Nous pouvons le faire réaliser !</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <img class="fit-picture-help" src="../assets/icon7.PNG" align="left">
                            <h3 class="text-help-2" align="left">Qualité du travail</h3>
                            <span>Freelancer.com a de loin le plus grand nombre de freelances de qualité au monde - plus
                                de 50 millions parmi lesquels choisir.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <img class="fit-picture-help" src="../assets/icon8.PNG" align="left">
                            <h3 class="text-help-2" align="left">Suivre les progrès</h3>
                            <span>Restez à jour et restez connectés lors de vos déplacement avec notre suivi des heures
                                et avec notre application mobile. Sachez toujours ce que font les freelances.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services Start -->
        <div class="our-services section-pad-t30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row-div">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>Parcourir les meilleures catégories</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/mobile.png">
                                <h5><a routerLink="/mobile" class="link-info text-underline-hover">Développemrnt
                                        Mobile</a></h5>
                                <span>Nombre des projets : <b><font color="red">({{MobileNB}})</font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/web.jpg">
                                <h5><a routerLink="/web" class="link-info text-underline-hover">Développemrnt web</a>
                                </h5>
                                <span>Nombre des projets : <b><font color="red">({{WebNB}})</font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/Excel.webp">
                                <h5><a routerLink="/excel" class="link-info text-underline-hover">Excel</a></h5>
                                <span>Nombre des projets : <b><font color="red">({{ExcelNb}}) </font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/photo.jpg">
                                <h5><a href="job_listing.html" class="link-info text-underline-hover">PhotoShop</a></h5>
                                <span>Nombre des projets : <b><font color="red">(0) </font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/clavier.jpg">
                                <h5><a href="job_listing.html" class="link-info text-underline-hover">Saisie de
                                        données</a></h5>
                                <span>Nombre des projets : <b><font color="red">(0) </font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/3d.jfif">
                                <h5><a href="job_listing.html" class="link-info text-underline-hover">Modélisation
                                        3D</a></h5>
                                <span>Nombre des projets : <b><font color="red">(0) </font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/trad.png">
                                <h5><a href="job_listing.html" class="link-info text-underline-hover">Traduction</a>
                                </h5>
                                <span>Nombre des projets : <b><font color="red">(0) </font></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30 border">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <img class="fit-picture" src="../assets/mark.jpg">
                                <h5><a href="job_listing.html" class="link-info text-underline-hover">Marketing</a></h5>
                                <span>Nombre des projets : <b><font color="red">(0) </font></b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- More Btn -->
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <button type="button" class="btn btn-outline-info btn-lg">Browse All
                                Sectors</button><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->

        <!-- Online CV Area Start -->
        <div class="online-cv blur sepia ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="cv-caption text-center">
                            <h1 class="pera1 text-light bg-dark"> mettez votre portfolio ici!</h1>
                            <button type="button" class="btn btn-warning">Soumettez votre portfolio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Online CV Area End-->

        <router-outlet></router-outlet>