<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1 class="display-2">Gagner de l'argent en freelance</h1><br>
                            <h2 class="par-excel">Embaucher des an web Expert</h2><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row-div">
            <div class="col-12">
                <div class="section-tittle-help text-center">
                    <h1>Avez-vous encore besoin de faire réaliser quelque chose ?</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center  ">
            <div class="help col-lg-4 border-end">
                <div class="single-services-help  ">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <img class="fit-picture-help " src="https://www.f-cdn.com/assets/img/hire/Book-abf6ab3c.svg"
                        align="left">

                    <h3 class="text-help-2" align="left">Qu'est-ce que le développement Web ?</h3>
                    <span class="span">Le développement Web est la création et la maintenance de sites Web ; c'est le
                        travail qui se fait en coulisse pour donner à un site Web une belle apparence, fonctionner
                        rapidement et bien fonctionner avec une expérience utilisateur transparente.

                        Les développeurs Web, ou « devs », le font en utilisant une variété de langages de codage. Les
                        langues qu'ils utilisent dépendent des types de tâches qu'ils effectuent et des plates-formes
                        sur lesquelles ils travaillent.

                        Les compétences en développement Web sont très demandées dans le monde entier et bien
                        rémunérées, ce qui fait du développement une excellente option de carrière. C'est l'un des
                        domaines les mieux rémunérés les plus accessibles, car vous n'avez pas besoin d'un diplôme
                        universitaire traditionnel pour devenir qualifié.

                        Le domaine du développement Web est généralement divisé en front-end (côté utilisateur) et
                        back-end (côté serveur). Plongeons dans les détails.</span>

                </div>
            </div>
            <div class="help col-lg-4 ">
                <div class="single-services-help ">
                    <div class="services-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <img class="fit-picture-help" src="https://www.f-cdn.com/assets/img/hire/rocket-f3aac63b.svg"
                        align="left">

                    <h3 class="text-help" align="left">Embaucher web Expert</h3>
                    <span>Sur freelancer-project, vous pouvez embaucher des pour travailler sur toute sorte de travaux
                        web. Peu importe votre budget, nous avons le bon freelance pour votre travail web.</span>

                </div>
            </div>


        </div>
    </div>

    <div class="row-div">
        <div class="col-lg-12">
            <div class="section-tittle text-center">
                <h2>Dernier travail mis en avant de nos freelances</h2>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-contnet-center">
        <div class="col-4">
            <div class="single-services text-center mb-30 border">
                <div class="services-ion">
                    <span class="flaticon-tour"></span>
                </div>
                <div class="services-cap img__wrap">
                    <img class="fit-picture img__img"
                        src="https://cynoteck.com/wp-content/uploads/2020/04/angular-blog-featured-small.png"><br><br>
                    <h5>Application web Angular</h5>
                    <div class="img__description">
                        <div>
                            <h1>Application web Angular</h1>
                            <h3>Yassine</h3>
                            <img src="https://st2.depositphotos.com/1001201/7303/i/600/depositphotos_73032779-stock-photo-businessman-smiling-and-optimist.jpg"
                                width="100px" class="me-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Flag_of_Tunisia.svg/1280px-Flag_of_Tunisia.svg.png"
                                width="30px">
                        </div>
                        <img src="https://www.karlsonline.com/_site-files/img/product-details/star-ratings/5-Stars.svg"
                            width="150px">
                        <p>Application web avec Angular , Asp.net et SQL-Server.</p>
                    </div>
                    <span>$450 USD</span>
                    <div class="middle">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="single-services text-center mb-30 border">
                <div class="services-ion">
                    <span class="flaticon-tour"></span>
                </div>
                <div class="services-cap img__wrap">
                    <img class="fit-picture img__img"
                        src="https://waytolearnx.com/wp-content/uploads/2018/12/QCM-PHP-800x445.jpg"><br><br>
                    <h5>site PHP</h5>
                    <div class="img__description">
                        <div>
                            <h2>site PHP</h2>
                            <h3>Wissem</h3>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhcFDmxxvIXnhL86F-REab4wUnAiTTJR-aRVLPDUgR3RIDpE4nPJAQxIz1wvpuZamJwxQ&usqp=CAU"
                                width="100px" class="me-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Flag_of_Jordan.svg/640px-Flag_of_Jordan.svg.png"
                                width="30px">
                        </div>
                        <img src="https://www.karlsonline.com/_site-files/img/product-details/star-ratings/4-and-a-half-Stars.svg"
                            width="150px">
                        <p>site php avec Mysql </p>
                    </div>
                    <span>$250 USD</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="single-services text-center mb-30 border">
                <div class="services-ion">
                    <span class="flaticon-tour"></span>
                </div>
                <div class="services-cap img__wrap">
                    <img class="fit-picture img__img"
                        src="https://quedulourd.com/wp-content/uploads/2020/12/Site-de-commerce-electronique-complet-MERN-Stack-Utilisation-de.jpg"><br><br>
                    <h5>Site de commerce électronique complet</h5>
                    <div class="img__description">
                        <div>
                            <h1>Site de commerce électronique complet</h1>
                            <h3>Mahmoud</h3>

                            <img src="https://st.depositphotos.com/1269204/1219/i/600/depositphotos_12196477-stock-photo-smiling-men-isolated-on-the.jpg"
                                width="100px" class="me-2">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/2560px-Flag_of_Lebanon.svg.png"
                                width="30px">
                        </div>
                        <img src="https://www.karlsonline.com/_site-files/img/product-details/star-ratings/4-Stars.svg"
                            width="150px">
                        <p>Construisez une puissante pile MERN Projet de commerce électronique en utilisant Réagir, Redux, Node.js, Express, MongoDB, Stripe de DEV à DEPLOYMENT.</p>
                    </div>
                    <span>$550 USD</span>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>

    <!-- Section help-->

    <div class="our-services section-pad-t30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row-div">
                <div class="col-lg-12">
                    <div class="section-tittle-help text-center">
                        <h1>Comment ça marche</h1>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-contnet-center border-bottom">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <div class="PageHire-content-howItWorks-image">
                                <svg width="72" height="64" xmlns="http://www.w3.org/2000/svg">
                                    <g stroke="#139FF0" stroke-width="1.5" fill="none" fill-rule="evenodd">
                                        <rect x=".75" y=".75" width="70.5" height="45.5" rx="4"></rect>
                                        <rect x=".75" y=".75" width="70.5" height="45.5" rx="4"></rect>
                                        <rect fill="#D0ECFC" x="4.75" y="5.75" width="62.5" height="33.5" rx="4"></rect>
                                        <rect x="1.75" y="51.75" width="67.5" height="11.5" rx="4"></rect>
                                        <path
                                            d="M16.36 21.03h39.215M16.126 16.36H29.85M16.314 24.902h34.314M16.36 29.03h39.215M22.5 46.5v5M49.5 46.5v5M8.567 57.865h27.239M52.478 57.865h9.328"
                                            stroke-linecap="square"></path>
                                    </g>
                                </svg>
                            </div>
                            <h3 class="text-help-2">Publier un travail</h3>
                            <span class="span">Dites-nous ce que vous avez besoin de faire réaliser en quelques
                                mots.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <div class="PageHire-content-howItWorks-image">
                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                <svg width="64px" height="73px" viewBox="0 0 64 73" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                                    <title>Group 17 Copy 2@2x</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="FIND-LANDING-V3---LOGO" transform="translate(-537.000000, -1331.000000)">
                                            <g id="BLOCK---HOW-IT-WORK" transform="translate(-5.000000, 1191.000000)">
                                                <g id="BLOCK---HOW-IT-WORKS-">
                                                    <g id="Group-17-Copy-2"
                                                        transform="translate(543.000000, 141.000000)">
                                                        <g id="Group-12">
                                                            <g id="Group-9" stroke="#139FF0" stroke-width="1.5">
                                                                <circle id="Oval-4" cx="29" cy="29.2222222" r="29">
                                                                </circle>
                                                                <path
                                                                    d="M50.75,49.75 L50.75,69.009947 C50.75,70.8002827 52.2038635,72.25 54,72.25 C55.7925301,72.25 57.25,70.7972821 57.25,69.009947 L57.25,49.75 L50.75,49.75 Z"
                                                                    id="Rectangle"
                                                                    transform="translate(54.000000, 61.000000) rotate(-36.000000) translate(-54.000000, -61.000000) ">
                                                                </path>
                                                                <circle id="Oval-4" cx="29" cy="29.2222222" r="24">
                                                                </circle>
                                                            </g>
                                                            <circle id="Oval-19" fill="#D0ECFC" cx="30" cy="24" r="7">
                                                            </circle>
                                                            <path
                                                                d="M18,40 C18.7350107,34.3574675 23.560165,30 29.4030603,30 C35.2459556,30 40.0711099,34.3574675 40.8061206,40 L18,40 Z"
                                                                id="Combined-Shape" fill="#D0ECFC"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <h3 class="text-help">Choisir des freelances</h3>
                            <span>Obtenez votre première offre en quelques secondes et choisissez parmi les
                                meilleures.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <div class="PageHire-content-howItWorks-image">
                                <svg width="66" height="66" xmlns="http://www.w3.org/2000/svg">
                                    <g fill="none" fill-rule="evenodd">
                                        <path
                                            d="M65.25 25.216v24.497c0 2.206-.015 5.788-.033 7.993l-.052 6.222c-.013 1.55-.56 1.787-1.692.731l-9.401-8.769c-1.749-1.631-5.036-2.926-7.434-2.926H24.037a3.257 3.257 0 0 1-3.251-3.251V25.216a3.251 3.251 0 0 1 3.248-3.252h37.967a3.248 3.248 0 0 1 3.249 3.252z"
                                            stroke="#139FF0" stroke-width="1.5"></path>
                                        <circle fill="#139FF0" cx="35.946" cy="39.482" r="1.768"></circle>
                                        <circle fill="#139FF0" cx="44.196" cy="39.482" r="1.768"></circle>
                                        <circle fill="#139FF0" cx="52.446" cy="39.482" r="1.768"></circle>
                                        <path
                                            d="M0 4.001A3.998 3.998 0 0 1 3.999 0h37.967a4.001 4.001 0 0 1 3.998 4.001v24.497c0 2.21-1.8 4.002-4 4.002H19.361c-2.21 0-5.314 1.224-6.922 2.724l-9.401 8.77C1.426 45.498.103 44.917.085 42.72l-.052-6.222C.015 34.29 0 30.706 0 28.498V4.001z"
                                            fill="#139FF0" opacity=".2"></path>
                                    </g>
                                </svg>
                            </div>
                            <h3 class="text-help">Suivez les progrès</h3>
                            <span>Discutez avec votre freelance et revoyez son travail 24/7.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-services-help text-center mb-30">
                        <div class="services-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="services-cap-help">
                            <div class="PageHire-content-howItWorks-image">
                                <svg width="76" height="81" xmlns="http://www.w3.org/2000/svg">
                                    <g fill="none" fill-rule="evenodd">
                                        <g transform="translate(23.836 21.284)">
                                            <path d="M20.981 15.772l.886.37" stroke="#979797"></path>
                                            <rect stroke="#139FF0" stroke-width="1.5" x=".75" y=".75" width="50.506"
                                                height="34.134" rx="4"></rect>
                                            <path d="M1.367 7.064h49.22M1.367 13.013h49.22M6.404 18.481h17.482"
                                                stroke="#139FF0" stroke-width="1.5" stroke-linecap="square"></path>
                                            <path fill-opacity=".1" fill="#139FF0" d="M.911 7.292h50.132v5H.91z"></path>
                                            <path d="M6.404 23.519h12.014M41.904 18.481h2.734" stroke="#139FF0"
                                                stroke-width="1.5" stroke-linecap="square"></path>
                                        </g>
                                        <path
                                            d="M.75 21.985a5 5 0 0 0 4.996 4.996 5 5 0 0 0 4.997-4.996 5 5 0 0 0-4.997-4.996A5 5 0 0 0 .75 21.985z"
                                            stroke="#139FF0" stroke-width="1.5" fill="#139FF0" opacity=".2"></path>
                                        <rect stroke="#139FF0" stroke-width="1.5" fill="#139FF0" opacity=".2" x="62.257"
                                            y=".75" width="9.993" height="9.993" rx="4.996"></rect>
                                        <path
                                            d="M53.063 75.15a5 5 0 0 0 4.997 4.996 5 5 0 0 0 4.996-4.997 5 5 0 0 0-4.996-4.996 5 5 0 0 0-4.997 4.996z"
                                            stroke="#139FF0" stroke-width="1.5" fill="#139FF0" opacity=".2"></path>
                                        <path
                                            d="M52.888 58.634l2.747 9.616M13.067 26.007l9.192 6.894M62.231 12.216l-6.34 9.51"
                                            stroke="#139FF0" stroke-width="1.5" stroke-linecap="square"
                                            stroke-dasharray="2,4">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                            <h3 class="text-help">Payez en sécurité</h3>
                            <span>Ne payez que lorsque vous êtes entièrement satisfaits.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div>
            <div class="text-center mb-30">
                <h1>Gagner de l'argent en freelance</h1>
                <h2>Projets Web design les plus récents</h2>
            </div>
            <!-- single-job-content -->

            <div class="container">
              

                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="career-search mb-60">

                            <form action="#" class="career-form mb-60">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="input-group position-relative">
                                            <input type="text" class="form-control" placeholder="Enter Your Keywords"
                                                id="keywords">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="select-container">
                                            <select class="custom-select">
                                                <option selected="">Location</option>
                                                <option value="1">Jaipur</option>
                                                <option value="2">Pune</option>
                                                <option value="3">Bangalore</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="select-container">
                                            <select class="custom-select">
                                                <option selected="">Select Job Type</option>
                                                <option value="1">Ui designer</option>
                                                <option value="2">JS developer</option>
                                                <option value="3">Web developer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <button type="button" class="btn btn-lg btn-block btn-light btn-custom"
                                            id="contact-submit">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>







                            <br><h3>Nombre des projets Web freelance : <b><font color="teal">{{ WebNB}}</font></b></h3>  





                            <ng-container *ngFor="let row of freelanceData">
                                <div class="job-box d-md-flex align-items-center justify-content-between mb-30"
                                    *ngIf="row.categorie == 2">
                                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                        
                                        <div
                                            class="img-holder me-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                            WEB
                                        </div>
                                        <div class="job-content">
                                            <h5 class="text-md-left">{{row.Titre}}</h5>
                                       
                                            <p>{{row.Description}}</p>
                                            <h6>{{row.mots}}</h6>
                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                <li class="me-md-4">
                                                    <img src="https://www.pinclipart.com/picdir/middle/61-613900_svg-royalty-free-download-png-icon-free-download.png"
                                                        width="20px">
                                                    <i class="zmdi zmdi-pin me-2"></i> {{row.date}}
                                                </li>
                                                <li class="me-md-4">
                                                    <img src="https://iconape.com/wp-content/png_logo_vector/money-39.png"
                                                        width="30px">
                                                    <i class="zmdi zmdi-money me-2"></i> {{row.payer}}
                                                </li>
                                                <li class="me-md-4">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Time-long-icon.svg/1200px-Time-long-icon.svg.png"
                                                        width="30px">
                                                    <i class="zmdi zmdi-time me-2"></i> {{row.duree}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="job-right my-4 flex-shrink-0">
                                        
                                          
                                        <button type="button" class="btn btn-link"  ><input class=" me-2" type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHORuY9B_erbT4ZuOEwxHxToBEGNBVWl-D_Q&usqp=CAU"data-bs-toggle="modal" data-bs-target="#exampleModal4" width="30px" (click)="show(row)" /></button> 
                                        <button type="button" class="btn btn-link"  ><input class=" me-2" type="image" src="https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/254000/79-512.png" data-bs-toggle="modal" data-bs-target="#exampleModal3"width="30px" (click)="onEdit(row)" /></button>
                                        <button type="button" class="btn btn-link"  align="right"><input class=" me-2" type="image" src="https://uxwing.com/wp-content/themes/uxwing/download/48-checkmark-cross/red-x.png" (click)="deletFreelance(row)" width="30px" /></button> 
                                        
                                        <h5>{{row.Salaire}}</h5>
                                        <p>Publié il y a 5 heures</p>
                                    </div>
                                </div>
                            </ng-container>



                        </div>
                    </div>

                    <!-- START Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-reset justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="zmdi zmdi-long-arrow-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">2</a></li>
                            <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">8</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <i class="zmdi zmdi-long-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- END Pagination -->
                </div>
            </div>

        </div>

        <!-- Modal Edit -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="categorie de projet" class="form-label">sélectionnez la catégorie pour votre projet</label>
              <select class="form-select" aria-label="categorie" formControlName="categorie" id="categorie">
               <!-- <option [value]="10" [selected] ="true">10</option>-->
  
                  <option value="1">Développement Mobile</option>
                  <option value="2">Développement Web</option>
                  <option value="3">Excel</option>
                  <option value="4">PhotoShop</option>
                  <option value="5">Saisie de données</option>
                  <option value="6">Modélisation 3D</option>
                  <option value="7">Traduction</option>
                  <option value="8">Marketing</option>
                </select>
              </div>
            <div class="mb-3">
              <label for="Titre de projet" class="form-label">Choisissez un nom pour votre projet</label>
              <input type="text" class="form-control" formControlName="Titre" id="Titre" value="ex. Développer mon site web" >
            </div>
            <div class="mb-3">
              <label for="Salaire" class="form-label">Quel est votre budget estimé ?</label>
              <input type="text" class="form-control" formControlName="Salaire" id="Salaire">
            </div>
            <div class="mb-3">
            <label for="Des mots cles" class="form-label">Comment voulez-vous payer ?</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Prix par heure"  formControlName="payer" id="payer">
              <label class="form-check-label" for="flexCheckDefault">
                Payer par Heure
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Prix fixe"  formControlName="payer" id="payer">
              <label class="form-check-label" for="flexCheckDefault">
                Payer un prix fixe
              </label>
            </div>
          </div>
  
          <div class="mb-3">
            <label for="date" class="col-sm-1 col-form-label">Date</label>
            <div class="input-group date" id="datepicker">
              <input type="date" formControlName="date" id="date" name="trip-start"
              value="today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()"
              min=var date = "today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()" max="2023-12-31">
            </div>
        </div>
        <div class="mb-3">
          <label for="duree" class="form-label">Durée de projet</label>
          <input type="text" class="form-control" formControlName="duree" id="duree" placeholder="ex. 3 mois (extensible) ">
        </div>
            <div class="mb-3">
              <label for="Des mots cles" class="form-label">Quelles compétences sont nécessaires ?</label>
              <p>Saisissez jusqu'à 5 compétences qui décrivent au mieux projet concours. Les freelances qui utilisent ces
                compétences pour trouver les projet qui les intéressent le plus et pour lesquels ils ont de l'expérience.
              </p>
              <textarea class="form-control" formControlName="mots" id="mots">EXP .Angular , .PHP , .SQL-Server</textarea>
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label">Dites-nous en plus concernant votre projet</label>
              <textarea class="form-control" formControlName="Description" id="Description" placeholder="Décriver votre projet ici ..."></textarea>
            </div>
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)=" updateFreelanceDetails()" class="btn btn-primary">Modifier</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
            integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
            crossorigin="anonymous"></script>


              <!-- show Edit -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detaille de projet</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
            <div class="mb-3">
              <h3>catégorie de projet</h3>
              <h5>{{categorie}}</h5>
              </div>
            <div class="mb-3">
              <h3>Titre de projet</h3>
                <h5>{{Titre}}</h5>
            </div>
            <div class="mb-3">
              <h3>budget estimé</h3>
                <h5>{{Salaire}}</h5>
            </div>
            <div class="mb-3">
            
          <div class="mb-3">
            <h3>Date</h3>
           <h5>{{date}}</h5>
        </div>
        <div class="mb-3">
            <h3>Les langage de programmation</h3>
           <h5>{{mots}}</h5>
        </div>
        <div class="mb-3">
            <h3>durée estimée</h3>
           <h5>{{duree}}</h5>
        </div>
        <div class="mb-3">
            <h3>Description</h3>
           <h5>{{Description}}</h5>
        </div>
     
           
          
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>


            